.container {
  padding: 20px 30px 30px;
  backdrop-filter: blur(25px);

  .closeIconContainer {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  .contentContainer {
    display: flex;
    gap: 50px;
    margin-top: 10px;
    color: #fff;
    .leftContainer {
      .image {
        width: 300px;
        object-fit: contain;
        border-radius: 10px;
        height: 100%;
        max-width: 100%;
      }
    }
    .rightContainer {
      min-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title {
        font-size: 20px;
      }

      .publishingYear {
        font-size: 16px;
        opacity: 0.7;
        font-weight: 400 !important;

        @media screen and (max-width: 780px) {
          margin-left: 10px;
        }
      }

      @media screen and (max-width: 780px) {
        min-width: unset;
      }
    }

    @media screen and (max-width: 780px) {
      flex-direction: column-reverse;
      gap: 10px;
    }
  }
}
