.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rightContent {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  gap: 10px !important;
}
